{% extends "base.html" %}
{% block title %}Azuretorial{% endblock %}
{% block content %}
    <!-- Page content-->
    <div class="container">
        <div class="mt-5">
            <h1>Hosting Webpage Using Azure & Docker Containers</h1>
            <ol type="1">
                <li><a class="lead" href="/tutorial/1/">Install prerequisites</a></li>
                <li><a class="lead" href="/tutorial/2/">Make a basic webpage</a></li>
                <li><a class="lead" href="/tutorial/3/">Create a Docker container</a></li>
                <li><a class="lead" href="/tutorial/4/">Push code to GitHub</a></li>
                <li><a class="lead" href="/tutorial/5/">Build a Docker image</a></li>
                <li><a class="lead" href="/tutorial/6/">Deploy your image to Azure</a></li>
            </ol>
        </div>
        <div class="mt-5">
        <h1>Object Oriented Programming + Writing Better Code</h1>
            <ol type="1">
                <li><a class="lead" href="/tutorial/article1/">Cleaner code with pylint + OOP Terminology</a></li>
                <li><a class="lead" href="/tutorial/article2/">AAA Testing</a></li>
                <li><a class="lead" href="/tutorial/article3/">Principles of Object Oriented Programming</a></li>
                <li><a class="lead" href="/tutorial/article4/">Separation of Concerns</a></li>
            </ol>
        </div>
    </div>
{% endblock %}